#block-one {
    color: white;
}

#block-two {
    color: blue;
}

#cool-font {
    font-size: 50px;
    font-weight: bold;
    color: White;
    font-family: Arial;
}

#normal-text-font {
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: Arial;
}
